<html>
	<head>
		<title>'Euphony's blog</title>
	<head>
	<body>
		<h1>Euphony Music Lessons</h1>
		<h2>Time Signature</h2>
		<div>
			<p>The upper part of the time signature</p>
<p>The top number in a time signature indicates how many beats wil be present in a measure. The bottom number in the time signature indicates what kind of noe is considered one beat.</p>
		<div>

		<div>
			<h3>Example</h3>
		<div>
		<div>
			<h4>4/4 Time signature</h4>
		<div>
		<div>
			<p>The top 4 says there are four beats in a measure(have exceptions. The lower 4 is the numerical representation of a Crotcet. This means every crotchet in the measure would be given one beat.)</p>
		<div>
	<body>
	

<html>
